.card-body{
    padding: 20px;
  }
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 15px; 
  }
  .card-body{
    padding: 7px;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  .card-body{
    padding: 2px;
  }
}

